@media screen and (max-width: 1199px){
    h1,span.large-text{
        font-size: 48px;
    }
    h4{
        font-size: 20px;
    }
    p.large, ul.partnership-event-list {
        font-size: 18px;
        line-height: 1.4;
    }
    .large-textbox {
        padding: 25px 45px;
    }
    .large-textbox > span {
        font-size: 80px;
    }
    .large-textbox img {
        max-width: 60px;
    }
    .main-hero-details {
        padding: 40px 60px 40px 24px;
    }
    section.large-text-section span {
        font-size: 100px;
    }
    .opportunities-title {
        font-size: 14px;
        min-width: 260px;
    }
    .opportunities-table-heading p.large {
        font-size: 16px;
    }
    .enforcer-season, .blackout, .solute-service, .red-black, .help-hero {
        min-width: 110px;
    }
    .single-history-year span {
        font-size: 100px;
        min-width: 260px;
    }
    .live-schedule-box {
        flex-direction: column;
        align-items: start;
    }

}
@media screen and (max-width: 991px){
    .container {
        max-width: 640px;
    }
    /* Header Style */
    a.logo {
        max-width: 130px;
        position: relative;
        z-index: 9;
    }
    button.menu-toggler-icon {
        width: 35px;
        background: transparent;
        height: 28px;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 3px 0;
        position: relative;
        z-index: 9;
        border: none;
    }
    button.menu-toggler-icon span {
        width: 100%;
        display: block;
        height: 3px;
        background-color: var(--semi-white);
        border-radius: 2px;
        transition: all 0.4s;
        position: relative;
    }
    body.show-menu button.menu-toggler-icon span:first-child{
        transform: rotate(48deg);
        top: 9px;
    }
    body.show-menu button.menu-toggler-icon span:nth-child(2){
        opacity: 0;
    }
    body.show-menu button.menu-toggler-icon span:last-child{
        transform: rotate(-48deg);
        bottom: 10px;
    }
    nav.nav-menu {
        position: absolute;
        left: 0;
        top: 0;
        background-color: var(--maroon);
        width: 100%;
        transition: all 0.4s;
    }
    nav.nav-menu ul {
        max-width: 640px;
        margin: 0 auto;
        padding: 90px 12px 32px;
    }
    nav.nav-menu ul li {
        text-align: center;
    }
    nav.nav-menu ul li:not(li:last-child) {
        margin-bottom: 12px;
    }
    .large-textbox {
        flex-direction: column;
        padding: 25px 30px;
    }
    .large-textbox span {
        margin-bottom: 16px;
        font-size: 65px;
    }
    .large-textbox p.large {
        margin-bottom: 45px;
    }

    /* Main Area Style */
    .banner-btns {
        justify-content: center;
    }
    .main-hero-details {
        padding: 40px 24px;
    }
    section.large-text-section span {
        font-size: 60px;
    }
    section.enforcers-section {
        padding: 40px 0;
    }
    .charity-goal {
        flex-direction: column;
    }
    .charity-details-content {
        padding: 24px 0;
    }
    .single-charities-item {
        padding: 16px;
        border-bottom: 1px solid var(--semi-white);
    }
    .featured-partner-icons:not(.featured-partner-icons:last-child) {
        margin-bottom: 24px;
    }
    .featured-partner-icons {
        justify-content: center;
        flex-wrap: wrap;
    }
    .sponsorship-games {
        flex-direction: column;
        gap: 32px;
    }
    .sponsorship-games span.vertical-rule {
        display: none;
    }
    .official-sponsor-content {
        padding: 48px 16px;
        min-height: 100%;
    }
    .goal-champ-boxs {
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
    }
    .who-are-content, .roster-item, .coaches-item {
        padding-top: 16px;
    }
    .single-history-year {
        flex-direction: column;
        gap: 24px;
        padding: 32px 0;
    }
    .single-history-year span {
        font-size: 80px;
    }
    .roster-list ul li span {
        font-size: 18px;
    }
    .roster-list {
        flex-direction: column;
    }
    .roster-list ul {
        width: 100%;
    }
    ul.roster-right-list li:nth-child(even) {
        background-color: transparent;
    }
    ul.roster-right-list li:nth-child(odd) {
        background-color: #1E1E1E;
    }
    .roster-thumb-box {
        padding: 16px;
        margin-bottom: 24px;
    }
    .single-coach {
        padding: 16px 16px 24px;
    }
    .live-schedule-box {
        align-items: center;
    }
    .contact-form {
        margin-right: auto;
    }
    .contact-content {
        text-align: center;
    }
    .contact-content p.large {
        margin: 0 auto;
     }
    .contact-form {
        padding: 16px;
    }
    .form-input-conatiner input, .form-input-conatiner textarea {
        padding: 8px 16px;
    }

}
@media screen and (max-width: 767px){
    h1, span.large-text {
        font-size: 40px;
    }
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 26px;
    }
    a.transparent-btn, a.gradient-btn, a.white-gradient-btn{
        min-width: 210px;
        justify-content: center;
    }
    /* Footer Style */
    p.getintouch-anchor {
        font-size: 16px;
    }
    p.getintouch-anchor a img {
        max-width: 16px;
        margin-right: 8px
    }
    .official-sponsor-outer-box {
        padding: 16px;
        border-radius: 16px;
    }

    /* Main Area Style */
    .banner-btns {
        flex-direction: column;
    }
    .event-schedule-box {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 16px;
        padding: 24px;
    }
    .hero-details-img img {
        max-width: 220px;
    }
    span.calender-icon {
        margin-right: 0px;
    }
    a.event-schedule-anchor {
        position: inherit;
        right: inherit;
    }
    section.large-text-section span{
        font-size: 48px;
    }
    section.large-text-section span:last-child{
        text-align: start;
    }
    section.image-slider-section {
        padding: 50px 0;
    }
    .charity-slider-item {
        padding: 24px 20px;
    }
    .ch-slider-heading {
        flex-direction: column-reverse;
        align-items: start;
        padding-top: 0;
    }
    .our-goal-box, .npsfl-champ-box {
        padding: 24px 16px;
        gap: 16px;
    }

}
@media screen and (max-width: 500px){


}
@media screen and (min-width: 991px){
     /* Header Style */
    nav.nav-menu ul li {
        display: inline-block;
    }
    nav.nav-menu ul li a:hover {
        color: var(--maroon);
    }
     nav.nav-menu ul li:not(li:last-child) {
        margin-right: 25px;
    }
    /* Main Area Style */
    .featured-partner-icons:nth-child(even) {
        justify-content: space-evenly;
    }
    .featured-partner-icons:nth-child(odd) {
        justify-content: space-between;
    }
    .our-goal-box > p.large {
        font-size: 23px;
    }

}
@media screen and (min-width: 1200px){
    .hero-details-img {
        margin-top: -24px;
    }

}

